.detail-container {
  margin-top: 32px;
  span {
    font-size: 14px;
    margin-bottom: 14px;
  }
}

.title {
  font-size: 24px;
}

.row-pay {
  span {
    font-size: 46px;
    margin: 32px 0;
  }
  button,
  button:hover {
    color: #ffffff;
    width: 80%;
  }
}
